doctype html 
html 
    head 
        title PayPal Node Payment
    body 
        h2 Welcome To Pug Templates
        h4 Click here to Check the Paypal Payment
        form(action="/pay", method="post") 
            input(type="submit", value="BUY")